{% extends "base.html" %}

{% block title %} Publications {% endblock %}

{% block content %}
<h2>{{ current_user.username }}</h2>
{% for post in posts.items %}
    <div class="post">
        <h4>{{ post.title }}</h4>
        <p>
            {{ post.content[:100] }}
            <a href="{{ url_for('post.post_page', id=post.id)}}">Read more</a>
        </p>
        <a>Redact</a>
        <p> Author: {{ current_user.username }} </p>
    </div>
{% endfor %}
{% if posts.has_prev %}
    <a href="{{ url_for('post.publications', page=posts.prev_num) }}">←</a>
{% endif %}
{% if posts.has_next %}
    <a href="{{ url_for('post.publications', page=posts.next_num) }}">→</a>
{% endif %}
{% endblock %}